wget -O node_exporter.tar.gz wget https://github.com/prometheus/node_exporter/releases/download/v0.18.1/node_exporter-0.18.1.linux-amd64.tar.gz
useradd -rs /bin/false nodeusr
mv node_exporter/node_exporter /usr/local/bin/
nano /etc/systemd/system/node_exporter.service

  [Unit]
  Description=Node Exporter
  After=network.target

  [Service]
  User=nodeusr
  Group=nodeusr
  Type=simple
  ExecStart=/usr/local/bin/node_exporter

  [Install]
  WantedBy=multi-user.target

systemctl daemon-reload
systemctl start node_exporter
systemctl status node_exporter
systemctl enable node_exporter
firewall-cmd --zone=internal --add-port=9100/tcp --permanent
firewall-cmd --reload
http://IP-Address:9100/metrics
